
@{
    ViewBag.Title = "Checkout Result";
}

<div class="row">
    <div class="col-12 text-center">

        <h2>Thank you for shopping</h2>

        <h3>@ViewBag.Message</h3>

    </div>
</div>


