@using Microsoft.AspNetCore.Identity
@using MVCManukauTech.Areas.Identity.Data;
@inject SignInManager<MVCManukauTechUser> SignInManager
@inject UserManager<MVCManukauTechUser> UserManager

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-danger" asp-area="" asp-controller="Subscribe" asp-action="Index">Be a Member</a>
        </li>
    }
</ul>