
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h1>About</h1>
        <p>The “Glorious End” band is launching an online shop to sell music and band merchandise to their fans. This will potentially deliver sources of income and provide web presence for their brand.</p>
        <p>Online shop features include user authorization, registration, membership, shop administration, shopping cart and payment.</p>
    </div>
</div>



